<%- include('partials/init-doc.ejs', {tituloPagina: 'Registrar Consulta'}) %> 

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <%- include('partials/spinner.ejs') %> 
        <!-- Spinner End -->

        <!-- Header Start -->
        <%- include('partials/main-header.ejs', {active: 1, usuario: usuario}) %> 
        <!-- Header End -->

        <!-- Contact Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title text-center text-dark text-uppercase">Registrar una nueva consulta</h6>
                </div>
                <div class="row g-4">
                    <div class="col-md-12">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <form id="agendarcita" action="/agendarcita" method="post">
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" id="id_usuario" name="id_usuario" value="<%= usuario.id %>" hidden required>
                                            <input type="number" class="form-control" id="veterinario" name="veterinario" value="<%= id_vet[0].id %>" hidden>
                                            <input type="text" class="form-control" id="nombre" name="nombre" value="<%= usuario.nombre %>" readonly required>
                                            <label for="nombre">Nombre Veterinario</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <select class="form-control" id="petowner" name="petowner" onchange="filtrarMascotas('<%= encodeURIComponent(JSON.stringify(mascotas)) %>')" required>
                                                <option value="0" selected disabled>--Seleccione al dueño (cliente)--</option>
                                                <% petowners.forEach((petowner)=>{ %> 
                                                    <option value="<%= petowner.id %>"><%= petowner.nombre %> <%= petowner.apellido %></option>
                                                <% }) %> 
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <select class="form-control" id="mascota" name="mascota" required>
                                                <option value="0" selected disabled>--Seleccione la mascota que recibira la consulta--</option>
                                                <% mascotas.forEach((mascota)=>{ %> 
                                                    <option value="<%= mascota.id %>"><%= mascota.nombre %> </option>
                                                <% }) %> 
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <input type="time" class="form-control" id="hora" name="hora">
                                            <label for="hora">Indique la hora/label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <input type="date" class="form-control" id="fecha" name="fecha" required>
                                            <label for="fecha">Seleccione la fecha</label>
                                        </div>
                                    </div><div class="col-md-4">
                                        <div class="form-floating">
                                            <select class="form-control" id="tipo" name="tipo" required>
                                                <option value="0" selected disabled>--Seleccione el tipo de consulta--</option>
                                                <% tipos.forEach((tipo)=>{ %> 
                                                    <option value="<%= tipo.id %>"><%= tipo.tipo %></option>
                                                <% }) %> 
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" id="descripcion" name="descripcion" rows="5" cols="50"></textarea>
                                            <label for="descripcion">Registre los detalles de la consulta</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-info w-100 py-3" type="submit">Registrar Consulta</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->


        <!-- Footer Start -->
        
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">PetCare</a>, Todos los derechos reservados. 
					<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
					Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                    <br>Distributed By: <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </div>
            </div>
        </div>
           
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <script>
        function filtrarMascotas(objeto){
            let mascotas = JSON.parse(decodeURIComponent(objeto))
            let selected = document.getElementById('petowner').value
    
            const mascotaElement = document.getElementById('mascota')
            mascotaElement.innerHTML = ''
    
            mascotas.forEach((mascota)=>{
                if(mascota.id_owner == selected){
                    const tag = document.createElement('option')
                    const value = document.createTextNode(mascota.nombre)
                    tag.appendChild(value)
                    tag.setAttribute('value', mascota.id)
                    mascotaElement.appendChild(tag)
                }
            })
        }
    </script>

    <%- include('partials/linksjs.ejs') %> 
    <%- include('partials/cierrebody.ejs') %> 