<%- include('partials/init-doc.ejs', {tituloPagina: 'Mi Cuenta'}) %> 

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <%- include('partials/spinner.ejs') %> 
        <!-- Spinner End -->

        <!-- Header Start -->
        <%- include('partials/main-header.ejs', {active: 1, usuario: usuario}) %> 
        <!-- Header End -->

        <div class="row">
            <div class="col-lg-3">
                <div class="col-lg-12 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="rounded shadow overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="img/mascotas.png" alt="">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3">
                            <h5 class="fw-bold mb-0 text-info" style="cursor: pointer;" onclick="editarNombre('<%= usuario.nombre %>', '<%= usuario.apellido %>', '<%= usuario.id %>', '<%= usuario.tipo_usuario %>')"><u><%= usuario.nombre %> <%= usuario.apellido %></u></h5>
                            <h6 style="cursor: pointer;" onclick="cambiarCorreo('<%= usuario.correo %>', '<%= usuario.id %>', '<%= usuario.tipo_usuario %>')"><%= usuario.correo %></h6>
                            <h6 style="cursor: pointer;" onclick="cambiarCelular('<%= usuario.celular %>', '<%= usuario.id %>', '<%= usuario.tipo_usuario %>')"><%= usuario.celular %></h6>
                            <% if(veterinario[0].cedula == null){%>
                                <h6 style="cursor: pointer;" onclick="definirCedula('<%= veterinario[0].cedula %>', '<%= usuario.id %>')">Definir Cedula Profesional</h6>    
                            <%}else{%>
                                <h6 style="cursor: pointer;" onclick="definirCedula('<%= veterinario[0].cedula %>', '<%= usuario.id %>')"><%= veterinario[0].cedula %> </h6>
                            <%} %> 
                            <h6>
                                <% for(i = 0; i < parseInt(veterinario[0].valoracion); i++){%>
                                <small class="fa fa-star text-warning"></small>
                                <% } %>
                                <% if((veterinario[0].valoracion - parseInt(veterinario[0].valoracion)) > 0){%>
                                    <small class="fa fa-star-half text-warning"></small> 
                                <%} %> 
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-title">
                            <h4>Clínica</h4>
                        </div>
                        <div class="card-body">
                            <ul class="timeline">
                                <% if(veterinario[0].id_clinica == null){%>
                                    <li onclick="cambiarClinica('<%= usuario.id %>', '<%= encodeURIComponent(JSON.stringify(clinicas)) %>')" style="cursor: pointer;">
                                        <div class="timeline-badge primary"><i class="fa fa-map-pin"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h5 class="timeline-title">Aun no has marcado ninguna clínica</h5>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Presiona aqui para marcar que laboras para alguna clinica, si la clinica no aparece puedes sugerirla en la sección de clinicas</p>
                                            </div>
                                        </div>
                                    </li>
                                <%}else{%> 
                                    <li>
                                        <div class="timeline-badge primary"><i class="fa fa-map-pin"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h5 class="timeline-title"><%= clinica[0].clinica %> </h5>
                                            </div>
                                            <div class="timeline-body" onclick="cambiarClinica('<%= usuario.id %>', '<%= encodeURIComponent(JSON.stringify(clinicas)) %>')" style="cursor: pointer;">
                                                <p>Presiona aqui para cambiar la clinica en la que laboras</p>
                                            </div>
                                        </div>
                                    </li>
                                <%} %>
                            </ul>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-title">
                        <h4>Pacientes</h4>
                    </div>
                    <div class="bootstrap-data-table-panel">
                        <div class="table-responsive">
                            <table id="row-select" class="display table table-borderd table-hover">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Tipo</th>
                                        <th>Especie</th>
                                        <th>Sexo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% pacientes.forEach((paciente)=>{%>
                                    <tr>
                                        <td><%= paciente.mascota %></td>
                                        <td><%= paciente.mascota_tipo %></td>
                                        <td><%= paciente.mascota_especie %></td>
                                        <td><%= paciente.mascota_sexo %></td>
                                    </tr>    
                                    <%}) %> 
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Tipo</th>
                                        <th>Especie</th>
                                        <th>Sexo</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h4>Citas</h4>
                    </div>
                    <div class="bootstrap-data-table-panel">
                        <div class="table-responsive">
                            <table id="row-select2" class="display table table-borderd table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Mascota</th>
                                        <th>Tipo</th>
                                        <th>Clinica</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% consultas.forEach((consulta)=>{%> 
                                    <tr>
                                        <td><%= consulta.id %></td>
                                        <td><%= consulta.dia.toLocaleDateString('en-GB') %></td>
                                        <td><%= consulta.hora %></td>
                                        <td><%= consulta.mascota %></td>
                                        <td><%= consulta.tipo %></td>
                                        <td><%= consulta.clinica %></td>
                                        <td>
                                            <div class="button-list">
                                                <div class="btn-group btn-group-justified">
                                                    <button onclick="showInfo('<%= consulta.descripcion %>')" class="btn btn-info btn-sm" title="Informacion de la Consulta"><i class="fa fa-info"></i></button>
                                                    <button onclick="confirmCancelar('<%= consulta.id %>', '<%= usuario.id %>')" class="btn btn-danger btn-sm" title="Cancelar Cita"><i class="fa fa-trash"></i></button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <%}) %>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Mascota</th>
                                        <th>Tipo</th>
                                        <th>Clinica</th>
                                        <th>Opciones</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer Start -->
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">PetCare</a>, Todos los derechos reservados. 
					<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
					Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                    <br>Distributed By: <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <script>
        function editarNombre(actualNombre, actualApellido, folio, tipo){
            Swal.fire({
                title: 'EDITAR NOMBRE Y APELLIDO DEL USUARIO',
                text: 'Ingrese los campos requeridos',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Actualizar',
                html: 
                    `<input type="text" value="${actualNombre}" id="nombre" class="swal2-input">`+
                    `<input type="text" value="${actualApellido}" id="apellido" class="swal2-input">`,
                focusConfirm: false
            }).then((result)=>{
                if(result.isConfirmed){
                    const nombre = document.getElementById('nombre').value;
                    const apellido = document.getElementById('apellido').value;
                    const ruta = `/actualizarNombreApellidoUsuario?id=${folio}&tipo=${tipo}&nombre=${nombre}&apellido=${apellido}`
                    window.location = ruta
                }
            })
        }
        function cambiarCorreo(actual,folio, tipo){
            Swal.fire({
                title: 'CAMBIAR CORREO DE CONTACTO',
                input: 'email',
                icon: 'question',
                inputValue: actual,
                showCancelButton: true,
                inputValidator: (value) => {
                    if (!value) {
                        return 'Tienes que escribir algo'
                    }else{
                        const ruta = `/cambiarCorreoUsuario?id=${folio}&tipo=${tipo}&correo=${value}`
                        window.location = ruta
                    }
                }
            })
        }
        function cambiarCelular(actual,folio, tipo){
            Swal.fire({
                title: 'CAMBIAR CELULAR DE CONTACTO',
                input: 'text',
                icon: 'question',
                inputValue: actual,
                showCancelButton: true,
                inputValidator: (value) => {
                    if (!value) {
                        return 'Tienes que escribir algo'
                    }else{
                        const ruta = `/cambiarCelularUsuario?id=${folio}&tipo=${tipo}&celular=${value}`
                        window.location = ruta
                    }
                }
            })
        }
        function definirCedula(actual,folio){
            Swal.fire({
                title: 'DEFINIR CEDULA PROFESIONAL',
                input: 'text',
                icon: 'question',
                inputValue: actual,
                showCancelButton: true,
                inputValidator: (value) => {
                    if (!value) {
                        return 'Tienes que escribir algo'
                    }else{
                        const ruta = `/definirCedulaVet?id=${folio}&cedula=${value}`
                        window.location = ruta
                    }
                }
            })
        }
        function cambiarClinica(veterinario, objeto){
            let clinicas = JSON.parse(decodeURIComponent(objeto))
            let opciones = ''
            clinicas.forEach((clinica)=>{
                opciones = opciones + `<option value="${clinica.id}">${clinica.nombre}</option>`
            })
            Swal.fire({
                title: 'Definir Clinica en la que labora',
                text: 'Seleccione la Clinica',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Seleccionar',
                html: 
                    '<select id="clinica" name="clinica">'+
                    '<option value="0" selected disabled>--Seleccione--</option>'+ opciones +
                    '</select>',
                focusConfirm: false
            }).then((result)=>{
                if(result.isConfirmed){
                    const clinica = document.getElementById('clinica').value;
                    const ruta = `/cambiarclinica?veterinario=${veterinario}&clinica=${clinica}`
                    window.location = ruta
                }
            })
        }
        function showInfo(descripcion){
            Swal.fire({
                title: 'Descriocion de la consulta',
                text: descripcion,
                icon: 'info',
                showConfirmButton: true
            })
        }
        function confirmCancelar(cita, usuario){
            Swal.fire({
                title: '¿ESTAS SEGURO?',
                text: `Se cancelará la cita ${cita}, esta accion es irreversible`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, cancelar'
                }).then((result) => {
                if (result.isConfirmed) {
                    const ruta = `/cancelarcitavet?cita=${cita}&usuario=${usuario}`
                    window.location = ruta
                }
            })
        }
    </script>
    <%- include('partials/linksjs.ejs') %> 
    <%- include('partials/cierrebody.ejs') %> 