<%- include('partials/init-doc.ejs', {tituloPagina: 'Mi Cuenta'}) %> 

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <%- include('partials/spinner.ejs') %> 
        <!-- Spinner End -->

        <!-- Header Start -->
        <%- include('partials/main-header.ejs', {active: 1, usuario: usuario}) %> 
        <!-- Header End -->

        <div class="row">
            <div class="col-lg-3">
                <div class="col-lg-12 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="rounded shadow overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid" src="img/mascota.png" alt="">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3">
                            <h5 class="fw-bold mb-0 text-info" style="cursor: pointer;" onclick="editarNombre('<%= usuario.nombre %>', '<%= usuario.apellido %>', '<%= usuario.id %>')"><u><%= usuario.nombre %> <%= usuario.apellido %></u></h5>
                            <h6 style="cursor: pointer;" onclick="cambiarCorreo('<%= usuario.correo %>', '<%= usuario.id %>')"><%= usuario.correo %></h6>
                            <h6 style="cursor: pointer;" onclick="cambiarCelular('<%= usuario.celular %>', '<%= usuario.id %>')"><%= usuario.celular %></h6>
                            <p style="cursor: pointer;" onclick="cambiarContra('<%= usuario.id %>')"><i class="fa fa-lock"></i>Cambiar Contraseña</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-title">
                        <h4>Mascotas </h4>
                    </div>
                    <div class="bootstrap-data-table-panel">
                        <div class="table-responsive">
                            <table id="row-select" class="display table table-borderd table-hover">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Tipo</th>
                                        <th>Especie</th>
                                        <th>Sexo</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% mascotas.forEach((mascota)=>{ %> 
                                        <tr>
                                            <td><%= mascota.nombre %></td>
                                            <td><%= mascota.tipo %></td>
                                            <td><%= mascota.especie %></td>
                                            <td><%= mascota.sexo %> </td>
                                            <td>
                                                <div class="button-list">
                                                    <div class="btn-group btn-group-justified">
                                                        <a href="/perfilmascota?mascota=<%= mascota.id %>" class="btn btn-info btn-sm" target="_self" title="Ver Perfil de Mascota"><i class="fa fa-dog"></i></a>
                                                        <a class="btn btn-danger btn-sm" onclick="confirmDelete('<%= mascota.id %>', '<%= mascota.nombre %>', '<%= usuario.id %>')"><i class="fa fa-trash"></i></a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    <% }) %> 
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Tipo</th>
                                        <th>Especie</th>
                                        <th>Sexo</th>
                                        <th>Opciones</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h4>Veterinarios</h4>
                    </div>
                    <div class="bootstrap-data-table-panel">
                        <div class="table-responsive">
                            <table id="row-select1" class="display table table-borderd table-hover">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Cedula</th>
                                        <th>Telefono</th>
                                        <th>Correo</th>
                                        <th>Clinica</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% veterinarios.forEach((veterinario)=>{%> 
                                    <tr>
                                        <td><%= veterinario.veterinario_nombre %> <%= veterinario.veterinario_apellido %></td>
                                        <td><%= veterinario.cedula_veterinario %></td>
                                        <td><%= veterinario.veterinario_celular %></td>
                                        <td><%= veterinario.veterinario_correo %></td>
                                        <td><%= veterinario.clinica %></td>
                                        <td>
                                            <div class="button-list">
                                                <div class="btn-group btn-group-justified">
                                                    <a href="/addcomment?veterinario=<%= veterinario.id_veterinario %>" class="btn btn-info btn-sm" target="_self" title="Dejar Comentario"><i class="fa fa-comment"></i></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <%}) %>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Cedula</th>
                                        <th>Telefono</th>
                                        <th>Correo</th>
                                        <th>Clinica</th>
                                        <th>Opciones</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h4>Todas las Citas</h4>
                    </div>
                    <div class="bootstrap-data-table-panel">
                        <div class="table-responsive">
                            <table id="row-select2" class="display table table-borderd table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Mascota</th>
                                        <th>Veterinario</th>
                                        <th>Clinica</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% consultas.forEach((consulta)=>{%> 
                                    <tr>
                                        <td><%= consulta.id %></td>
                                        <td><%= consulta.dia.toLocaleDateString('en-GB') %></td>
                                        <td><%= consulta.hora %></td>
                                        <td><%= consulta.mascota %></td>
                                        <td><%= consulta.veterinario_nombre %> <%= consulta.veterinario_apellido %></td>
                                        <td><%= consulta.clinica %></td>
                                        <td>
                                            <div class="button-list">
                                                <div class="btn-group btn-group-justified">
                                                    <button onclick="showInfo('<%= consulta.descripcion %>')" class="btn btn-info btn-sm" title="Mostrar descripcion"><i class="fa fa-info"></i></button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <%}) %>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Mascota</th>
                                        <th>Veterinario</th>
                                        <th>Clinica</th>
                                        <th>Opciones</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer Start -->
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">PetCare</a>, Todos los derechos reservados. 
					<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
					Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                    <br>Distributed By: <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <script>
        function editarNombre(actualNombre, actualApellido, folio){
            Swal.fire({
                title: 'EDITAR NOMBRE Y APELLIDO DEL USUARIO',
                text: 'Ingrese los campos requeridos',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Actualizar',
                html: 
                    `<input type="text" value="${actualNombre}" id="nombre" class="swal2-input">`+
                    `<input type="text" value="${actualApellido}" id="apellido" class="swal2-input">`,
                focusConfirm: false
            }).then((result)=>{
                if(result.isConfirmed){
                    const nombre = document.getElementById('nombre').value;
                    const apellido = document.getElementById('apellido').value;
                    const ruta = `/actualizarNombreApellidoUsuario?id=${folio}&nombre=${nombre}&apellido=${apellido}`
                    window.location = ruta
                }
            })
        }
        function cambiarContra(folio){
            Swal.fire({
                title: 'CAMBIAR MI CONTRAEÑA DE ACCESO',
                text: 'Ingrese los campos requeridos',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Actualizar',
                html: 
                    `<input type="password" id="actual" placeholder="Contraseña Actual" class="swal2-input">`+
                    `<input type="password" id="nueva" placeholder="Nueva Contraseña" class="swal2-input">`,
                focusConfirm: false
            }).then((result)=>{
                if(result.isConfirmed){
                    const actual= document.getElementById('actual').value;
                    const nueva = document.getElementById('nueva').value;
                    const ruta = `/cambiarcontrausuario?nueva=${nueva}&actual=${actual}&usuario=${folio}`
                    window.location = ruta
                }
            })
        }
        function cambiarCorreo(actual,folio){
            Swal.fire({
                title: 'CAMBIAR CORREO DE CONTACTO',
                input: 'email',
                icon: 'question',
                inputValue: actual,
                showCancelButton: true,
                inputValidator: (value) => {
                    if (!value) {
                        return 'Tienes que escribir algo'
                    }else{
                        const ruta = `/cambiarCorreoUsuario?id=${folio}&correo=${value}`
                        window.location = ruta
                    }
                }
            })
        }
        function cambiarCelular(actual,folio){
            Swal.fire({
                title: 'CAMBIAR CELULAR DE CONTACTO',
                input: 'text',
                icon: 'question',
                inputValue: actual,
                showCancelButton: true,
                inputValidator: (value) => {
                    if (!value) {
                        return 'Tienes que escribir algo'
                    }else{
                        const ruta = `/cambiarCelularUsuario?id=${folio}&celular=${value}`
                        window.location = ruta
                    }
                }
            })
        }
        function confirmDelete(mascota, nombre, usuario){
            Swal.fire({
                title: '¿ESTAS SEGURO?',
                text: `Se borrara el registro de ${nombre}, esta accion es irreversible`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminar'
                }).then((result) => {
                if (result.isConfirmed) {
                    const ruta = `/deletemascota?mascota=${mascota}&usuario=${usuario}`
                    window.location = ruta
                }
            })
        }
        function showInfo(descripcion){
            Swal.fire({
                title: 'Descripcion de la consulta',
                text: descripcion,
                icon: 'info',
                showConfirmButton: true
            })
        }
    </script>
    <%- include('partials/linksjs.ejs') %> 
    <%- include('partials/cierrebody.ejs') %> 